// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2021 Unikie */

/dts-v1/;

#include "microchip-mpfs-icicle-kit-context-a.dts"

/* Clock frequency (in Hz) of the rtcclk */
#define RTCCLK_FREQ		1000000

/delete-node/ &ddrc_cache_lo;

/ {
	chosen {
		stdout-path = "mmuart2:115200n8";
	};

	/* TODO: move DMA etc. areas to the end of ddr_lo region
	   to have continous RAM range */
	ddrc_cache_lo: memory@89000000 {
		device_type = "memory";
		reg = <0x0 0x89000000 0x0 0x17000000>;
		clocks = <&clkcfg CLK_DDRC>;
		status = "okay";
	};

	teeos_comm {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "sel4,teeos-comm";
		ranges;
		ctrl@ad9ff000 {
			reg = <0x0 0xad9ff000 0x0 0x1000>;
		};
		ree2tee@ada00000 {
			reg = <0x0 0xada00000 0x0 0x80000>;
		};
		tee2ree@ada80000 {
			reg = <0x0 0xada80000 0x0 0x80000>;
		};
	};
};

&cpu1 {
	status = "disabled"; /* seL4 */
};

&cpu2 {
	status = "okay";
};

&cpu3 {
	status = "okay";
};

&cpu4 {
	status = "okay";
};

&mmuart1 {
	status = "disabled"; /* seL4 */
};

&mmuart3 {
	status = "okay";
};
